* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

header {
  background-color: red;
  height: 5vh;
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}

.logo img{
  height: 5.4vh;
}

h1 {
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: gainsboro;
  border-radius: 12px;
  padding: 1rem;
}

.post {
  border: 2px solid black;
  padding: 1em;
  border-radius: 12px;
  background-color: blanchedalmond;
  text-align: center;
}

img {
  max-width: 100%;
}

@media (max-width: 640px) {
  .posts {
    grid-template-columns: 1fr;
  }
}