header {
    background-color: rgb(202, 171, 134);
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo img {
    max-height: 5vh;
}

.slogan {
    font-size: 1rem;
    color: rgb(228, 217, 200);
}

.btn {
    text-decoration: none;
    border: 2px solid rgb(154, 147, 135);
    border-radius: 12px;
    background-color: rgb(228, 217, 200);
    padding: 0.5rem;
    color: rgb(202, 171, 134);
}