header {
    background-color: rgb(202, 171, 134);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    height: 4rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.logout {
    background-color: brown;
}

.logo img {
    max-height: 5vh;
}

.slogan {
    font-size: 1rem;
    color: rgb(228, 217, 200);
}